<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode title="Home" controller="Home" action="Overview">
    <siteMapNode title="Dashboard" nopResource="Admin.Dashboard" controller="Home" action="Index" ImageUrl="~/Administration/Content/images/ico-dashboard.png" />
    <siteMapNode title="CRM"  PermissionNames="ManageCustomers, ManageVendors" ImageUrl="~/Administration/Content/images/ico-customers.png" >
      <siteMapNode title="Customers" nopResource="Admin.Customers.Customers" PermissionNames="ManageCustomers" controller="Customer" action="List" />

      <siteMapNode title="分析"  PermissionNames="ManageCustomers" controller="Customer" action="Reports" />
      <siteMapNode title="用户关怀"  PermissionNames="ManageCustomers"  />
      <siteMapNode title="客服管理"  PermissionNames="ManageCustomers"  />
      <siteMapNode title="接入平台"  PermissionNames="ManageCustomers"  />
    </siteMapNode>

    <siteMapNode title="广告促销"  PermissionNames="ManageAffiliates, ManageNewsletterSubscribers, ManageCampaigns, ManageDiscounts" ImageUrl="~/Administration/Content/images/ico-promotions.png">
      <siteMapNode title="首页管理"  PermissionNames="ManageWidgets" controller="Widget" action="List" />
      <siteMapNode title="Campaigns" nopResource="Admin.Promotions.Campaigns" PermissionNames="ManageCampaigns" controller="Campaign" action="List" />
      <siteMapNode title="Discounts" nopResource="Admin.Promotions.Discounts" PermissionNames="ManageDiscounts" controller="Discount" action="List" />
    </siteMapNode>
    <siteMapNode title="商品基础信息" PermissionNames="ManageProducts,ManageCategories,ManageManufacturers,ManageProductReviews,ManageProductTags,ManageAttributes" ImageUrl="~/Administration/Content/images/ico-catalog.png" >
      <siteMapNode title="商品分类管理"  PermissionNames="ManageCategories" controller="Category" action="List" />
      <siteMapNode title="Products attributes" nopResource="Admin.Catalog.Attributes.ProductAttributes" controller="ProductAttribute" action="List"/>
      <siteMapNode title="Specification attributes" nopResource="Admin.Catalog.Attributes.SpecificationAttributes" controller="SpecificationAttribute" action="List"/>
      <siteMapNode title="Product tags" nopResource="Admin.Catalog.ProductTags" PermissionNames="ManageProductTags" controller="Product" action="ProductTags"/>

    </siteMapNode>
    <siteMapNode title="Catalog" nopResource="Admin.Catalog" PermissionNames="ManageProducts,ManageCategories,ManageManufacturers,ManageProductReviews,ManageProductTags,ManageAttributes" ImageUrl="~/Administration/Content/images/ico-catalog.png" >
      <siteMapNode title="商品管理"  PermissionNames="ManageProducts" controller="Product" action="List"/>
      <siteMapNode title="批量操作"  PermissionNames="ManageProducts" controller="Product" action="BulkEdit"/>
      <siteMapNode title="Low stock report" nopResource="Admin.Catalog.LowStockReport" PermissionNames="ManageProducts" controller="Product" action="LowStockReport"/>
      <siteMapNode title="接入淘宝数据"  PermissionNames="ManageProducts"  />

    </siteMapNode>

    <!--订单系统start-->
    <siteMapNode title="订单系统"  PermissionNames="ManageOrders,ManageRecurringPayments,ManageReturnRequests,ManageGiftCards,ManageCurrentCarts" ImageUrl="~/Administration/Content/images/ico-sales.png">
      <siteMapNode title="订单详细" nopResource="Admin.Orders" PermissionNames="ManageOrders" controller="Order" action="List" />
      <siteMapNode title="发货" nopResource="Admin.Orders.Shipments.List" PermissionNames="ManageOrders" controller="Order" action="ShipmentList" />
      <siteMapNode title="退货" nopResource="Admin.ReturnRequests" PermissionNames="ManageReturnRequests" controller="ReturnRequest" action="List" />
    </siteMapNode>
    <!--订单系统end-->

    <siteMapNode title="供应商账号管理"  PermissionNames="ManageVendors" controller="Vendor" action="List" />

    <!--财务管理start
    <siteMapNode title="财务管理"   ImageUrl="~/Administration/Content/images/ico-dashboard.png" >
      <siteMapNode title="供应商结算"  controller="Home" action="Index" ImageUrl="~/Administration/Content/images/ico-dashboard.png" />
      <siteMapNode title="配送结算" controller="Home" action="Index" ImageUrl="~/Administration/Content/images/ico-dashboard.png" />
      <siteMapNode title="系统内结算"  controller="Home" action="Index" ImageUrl="~/Administration/Content/images/ico-dashboard.png" />
    </siteMapNode>-->
    <!--财务管理end-->

    <!--报表系统start
    <siteMapNode title="报表系统"   ImageUrl="~/Administration/Content/images/ico-dashboard.png" >
      <siteMapNode title="销售报表"  controller="Home" action="Index" ImageUrl="~/Administration/Content/images/ico-dashboard.png" />
      <siteMapNode title="财务报表"  controller="Home" action="Index" ImageUrl="~/Administration/Content/images/ico-dashboard.png" />
      <siteMapNode title="库存报表" controller="Home" action="Index" ImageUrl="~/Administration/Content/images/ico-dashboard.png" />
    </siteMapNode>-->
    <!--报表系统end-->


    
    <siteMapNode title="News" nopResource="Admin.ContentManagement.News" PermissionNames="ManageNews">
      <siteMapNode title="News items" nopResource="Admin.ContentManagement.News.NewsItems" controller="News" action="List" />
    </siteMapNode>
    <siteMapNode title="Configuration" nopResource="Admin.Configuration" PermissionNames="ManageCountries,ManageLanguages,ManageSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageMeasures,ManageActivityLog,ManageACL,ManageEmailAccounts,ManagePlugins,ManageProductReviews"
           ImageUrl="~/Administration/Content/images/ico-configuration.png">
      <siteMapNode title="Customer roles" nopResource="Admin.Customers.CustomerRoles" PermissionNames="ManageCustomers" controller="CustomerRole" action="List"></siteMapNode>
      <siteMapNode title="权限管理" PermissionNames="ManageACL" controller="Security" action="Permissions" />
      <siteMapNode title="Topics" nopResource="Admin.ContentManagement.Topics" PermissionNames="ManageTopics" controller="Topic" action="List"></siteMapNode>
      <!--积分管理start-->
      <siteMapNode title="Reward points" nopResource="Admin.Configuration.Settings.RewardPoints" controller="Setting" action="RewardPoints"></siteMapNode>
      <!--积分管理end-->
      
      <!--常见问题管理start-->
      <siteMapNode title="常见问题管理"  PermissionNames="ManageProductReviews" controller="ProductQuestion" action="List"></siteMapNode>
      <!--常见问题管理end-->
      <!--VIP客户消费阀start-->
      <siteMapNode title="VIP客户消费阀"  PermissionNames="ManageSettings" controller="Setting" action="VIPConsumerValve"></siteMapNode>
      <!--VIP客户消费阀end-->
      <!--首页搜索标签start-->
      <siteMapNode title="首页搜索标签"  PermissionNames="ManageSettings" controller="Setting" action="IndexSearchTags"></siteMapNode>
      <!--首页搜索标签end-->
      <siteMapNode title="Shipping" nopResource="Admin.Configuration.Shipping" PermissionNames="ManageShippingSettings">
        <siteMapNode title="Shipping methods" nopResource="Admin.Configuration.Shipping.Methods" controller="Shipping" action="Methods"/>
        <siteMapNode title="Shipping method restrictions" nopResource="Admin.Configuration.Shipping.Restrictions" controller="Shipping" action="Restrictions"/>
        <siteMapNode title="Delivery dates" nopResource="Admin.Configuration.Shipping.DeliveryDates" controller="Shipping" action="DeliveryDates"/>
        <siteMapNode title="Warehouses" nopResource="Admin.Configuration.Shipping.Warehouses" controller="Shipping" action="Warehouses"/>
      </siteMapNode>
      <siteMapNode title="Activity Log" nopResource="Admin.Configuration.ActivityLog" PermissionNames="ManageActivityLog">
        <siteMapNode title="Activity Log" nopResource="Admin.Configuration.ActivityLog.ActivityLog" controller="ActivityLog" action="ListLogs"/>
      </siteMapNode>
      <siteMapNode title="第三方平台管理" PermissionNames="ManageExternalAuthenticationMethods" controller="ExternalAuthentication" action="Methods"/>
    </siteMapNode>
    <siteMapNode title="System" nopResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" ImageUrl="~/Administration/Content/images/ico-system.png">
      <siteMapNode title="Log" nopResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List" />
      <siteMapNode title="Queued emails" nopResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List" />
      <siteMapNode title="Schedule tasks" nopResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List" />

    </siteMapNode>
  </siteMapNode>
</siteMap>

